{% extends "base/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="d-flex flex-column flex-md-row justify-content-start my-3 gap-3">
    <!-- Botões para abrir os modais -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createDoacaoModal">
        <i class="fas fa-plus me-1"></i>
        Adicionar Doação
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createItemModal">
        <i class="fas fa-plus me-1"></i>
        Adicionar Item
    </button>
</div>

<!-- Modal de adicionar doação -->
<div class="modal fade" id="createDoacaoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="createDoacaoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="{% url 'cadastrar_doacao' %}" method="post" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createDoacaoModalLabel">Adicionar Doação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ add_doacao_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal de adicionar item -->
<div class="modal fade" id="createItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="createItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="{% url 'cadastrar_item' %}" method="post" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createItemModalLabel">Adicionar Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ item_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal de edição de doação -->
<div class="modal fade" id="editDoacaoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editDoacaoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" method="post" id="editDoacaoForm" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editDoacaoModalLabel">Editar Doação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ edit_doacao_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal de exclusão de doação -->
<div class="modal fade" id="deleteDoacaoModal" tabindex="-1" aria-labelledby="deleteDoacaoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteDoacaoModalLabel">Excluir Doação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir esta doação?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <form action="" id="deleteDoacaoForm" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Tabela de Doações -->
<div class="table-container mt-4">
    <table class="table align-middle">
        <caption>Lista de Doações</caption>
        <thead class="text-center">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Item</th>
                <th scope="col">Descrição</th>
                <th scope="col">Estado de Conservação</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody class="text-center table-group-divider" id="tableBody">
            {% for doacao in doacoes %}
            <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{ doacao.id }}</td>
                <td>{{ doacao.item.nome }}</td>
                <td>{{ doacao.descricao }}</td>
                <td>{{ doacao.estado_conservacao }}</td>
                <td>{{ doacao.status }}</td>
                <td>
                    <a href="{% url 'detalhar_doacao' doacao.id %}" class="btn btn-info btn-sm">
                        <i class="fas fa-eye"></i> Detalhes
                    </a>
                    {% if user.tipo_usuario.nome == "Administrador" or user == doacao.usuario %}
                    <button type="button" class="btn btn-warning btn-sm update-doacao" data-bs-toggle="modal"
                        data-bs-target="#editDoacaoModal" data-doacao-id="{{ doacao.id }}">
                        <i class="fas fa-edit ms-1"></i>
                        Editar
                    </button>
                    <button type="button" class="btn btn-danger btn-sm delete-doacao" data-bs-toggle="modal"
                        data-bs-target="#deleteDoacaoModal" data-doacao-id="{{ doacao.id }}">
                        <i class="fas fa-trash-alt ms-1"></i>
                        Excluir
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr class="null">
                <td colspan="7" class="text-center">Nenhuma doação encontrada</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lógica de editar doação
        const editModal = document.getElementById('editDoacaoModal');
        const editForm = document.getElementById('editDoacaoForm');

        editModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            let doacaoId = button.getAttribute('data-doacao-id');
            editForm.action = `/doacoes/${doacaoId}/editar-doacao/`;

            fetch(`/doacoes/${doacaoId}/`)
                .then(response => response.json())
                .then(data => {
                    $('#editDoacaoForm #id_item').val(data.item);
                    $('#editDoacaoForm #id_descricao').val(data.descricao);
                    $('#editDoacaoForm #id_estado_conservacao').val(data.estado_conservacao);
                    $('#editDoacaoForm #id_status').val(data.status);
                });

            editForm.addEventListener('submit', function (event) {
                event.preventDefault();
                fetch(editForm.action, {
                    method: 'POST',
                    body: new FormData(editForm),
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.reload();
                        } else {
                            alert('Erro ao editar doação');
                        }
                    });
            });
        });

        // Exibir modal de excluir doação
        document.querySelectorAll('button[data-doacao-id]').forEach(button => {
            button.addEventListener('click', function() {
                const doacaoId = this.getAttribute('data-doacao-id');
                const form = document.getElementById('deleteDoacaoForm');
                form.action = `/doacoes/${doacaoId}/excluir-doacao/`;
            });
        });
    });
</script>
{% endblock scripts %}