{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% block title %} Entrar {% endblock title %}

{% block styles %}
<style>
    html,
    body {
        height: 100%;
    }

    .form-signin {
        max-width: 500px;
        padding: 1rem;
    }
</style>
{% endblock styles %}

{% block content %}
<main class="form-signin w-100 m-auto">
    <h1>Entrar</h1>

    <form action="{% url 'login' %}" method="post" class="needs-validation" autocomplete="off" novalidate>
        {% csrf_token %}

        {{ form|crispy }}

        <div class="d-flex flex-column justify-content-center">
            <button type="submit" class="btn btn-primary">Entrar</button>
            <a href="{% url 'register' %}" class="btn btn-link mt-2">Criar uma conta</a>
        </div>
    </form>
</main>
{% endblock content %}