{% extends "base/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="d-flex flex-column flex-md-row justify-content-start my-3 gap-3">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createNecessidadeModal">
        <i class="fas fa-plus me-1"></i>
        Adicionar Necessidade
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createItemModal">
        <i class="fas fa-plus me-1"></i>
        Adicionar Item
    </button>
</div>

<!-- Modal de adicionar necessidade -->
<div class="modal fade" id="createNecessidadeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createNecessidadeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="{% url 'cadastrar_necessidade' %}" method="post" id="createNecessidadeForm" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createNecessidadeModalLabel">Adicionar Necessidade</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <!-- Formulário de Necessidade -->
                    {{ necessidade_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal de adicionar item -->
<div class="modal fade" id="createItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="{% url 'cadastrar_item' %}" method="post" id="createItemForm" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createItemModalLabel">Adicionar Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{item_form|crispy}}
               </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div> 
            </form>
        </div>
    </div>
 </div>

<!-- Tabela de Necessidades -->
<div class="table-container mt-4">
    <table class="table align-middle">
        <caption>Lista de Necessidades</caption>
        <thead class="text-center">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Item Necessário</th>
                <th scope="col">Descrição</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody class="text-center table-group-divider" id="tableBody">
            {% for necessidade in necessidades %}
            <tr>
                <td scope="row">{{ necessidade.id }}</td>
                <td scope="row">{{ necessidade.id }}</td>
                <td scope="row">{{ necessidade.item.nome }}</td>
                <td scope="row">{{ necessidade.descricao }}</td>
                <td scope="row">{{ necessidade.status }}</td>
                <td scope="row">
                    {% if request.user == necessidade.usuario or request.user.tipo_usuario == "Administrador"%}
                    <button type="button" class="btn btn-warning btn-sm update-necessidade" data-bs-toggle="modal" data-bs-target="#updateNecessidadeModal" data-necessidade-id="{{ necessidade.id }}">
                        <i class="fas fa-edit"></i>
                        Editar
                    </button>
                    <button type="button" class="btn btn-danger btn-sm delete-necessidade mt-2 mt-xl-0" data-necessidade-id="{{ necessidade.id }}">
                        <i class="fas fa-trash"></i>
                        Excluir
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr class="null">
                <td colspan="6" class="text-center">Nenhuma necessidade encontrada</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}