<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">DoaFácil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Início</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'doacoes' %}">Doações</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'necessidades' %}">Necessidades</a></li>

                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="text-white btn btn-danger ms-5" href="{% url 'logout' %}">Sair</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-success text-white ms-2" href="{% url 'login' %}">Entrar</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>